.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: wheat;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.level-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 1rem;
  z-index: 100;
  text-align: center;
}

h2 {
  margin: 0;
}
.board {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.board-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.board-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  border: 2px solid black;
  font-size: 2rem;
  background-color: wheat;
}

.board-square.board-row.current-row {
  background-color: white;
}

input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

input[type='text'].correct {
  background-color: green;
}

input[type='text'].Partcorrect {
  background-color: yellow;
}

input[type='text'].incorrect {
  background-color: gray;
}

@media (max-width: 390px) {
  .board-square {
    width: 20px;
    height: 20px;
    font-size: 25px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .level-container {
    padding: 0.5rem;
  }
}
