.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin: 0 auto;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.keyboard-letter {
  width: 40px;
  height: 40px;
  background-color: gray;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.keyboard-key:hover {
  background-color: #d83434;
}

.keyboard-key.active {
  background-color: #a6c1ff;
}

.keyboard-key.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
